<div class="menuBar">
  <p-menubar [model]="itemsMenu" class="testMenuBar">
    <ng-template pTemplate="start">
      <img src="../assets/img/NetflouxLogo.svg" height="80" class="mr-2"  alt="logo" (click)="goToIndex()"/>
    </ng-template>
    <ng-template pTemplate="end">
      <p-button label="Logout" severity="danger" (onClick)="this.logout()"></p-button>
    </ng-template>
  </p-menubar>
</div>

<!--<app-acteur class="appActeur">

</app-acteur>-->

<router-outlet class="mainPage"></router-outlet>
